/*
 * CSS rules for visualization.
 * Class namespacing is good practice.
 */

.vizviz-charts-color-picker > div splunk-color-picker {
  margin-left: 4px;
}

.vizviz-funnel-container {
  margin-left: auto;
  margin-right: auto;
}
